<tr>
   <td>
      <img src="static/images/date.png" />
      <p>October 25</p>
   </td>
   <td>
      <p>Shoes</p>
      <div class="report">
         <a href="#">Report</a>
      </div>
   </td>
   <td>
      <img src="static/images/amount.png" alt="">
      <p>лв 123.00</p>
   </td>
   <td>
      <img src="static/images/category.png" alt="">
      <p>{{description}}</p>
   </td>
   <td>
      <img src="static/images/hastag.png" alt="">
      <p>I fucked up...</p>
   </td>
</tr>