<div id="notifications">
   <div id="successBox" class="alert alert-success" role="alert" display="none">{Success Message...}</div>
   <div id="loadingBox" class="alert alert-info" role="alert" display="none">Loading...</div>
   <div id="errorBox" class="alert alert-danger" role="alert" display="none">{Error Message...}</div>
</div>