* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font: 16px/1.5 Helvetica, Verdana, sans-serif;
}

body,
input,
textarea,
option,
select,
table,
form {
  font: inherit;
}

h1,
h2 {
  font-family: Georgia, serif;
  line-height: 1.1;
  padding-bottom: 0.5em;
  padding-top: 1.5rem;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.1em;
}

p,
blockquote {
  padding-bottom: 1.5em;
}

blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  border-left: 2px solid #ccc;
  padding-left: 2em;
  opacity: 0.8;
}

blockquote p:last-child {
  text-align: right;
  padding-bottom: 0;
}

.cleaner:after {
  content: "";
  display: block;
  clear: both;
}
