<main>
    <form action="/register" method="POST">
        <h1>Register</h1>

        <p>Personal info</p>
        <label for="usernmae">Username</label>
        <input id="username" name="username" type="text" placeholder="JustMyself123...">

        <label for="usernmae">Password</label>
        <input id="password" name="password" type="password" placeholder="******">

        <label for="repeat-password">Repeat Password</label>
        <input id="repeat-password" name="repeatPassword" type="password" placeholder="******">
        <hr>
        <p>Account</p>
        <label for="usernmae">Amount</label>
        <input id="username" name="amount" type="text" placeholder="$125.90">

        <button type="submit">Register</button>
    </form>
</main>