* {
   margin: 0;
   padding: 0;
}

html {
   box-sizing: border-box;
   font: 16px/1.5em Helvetica, sans-serif;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   height: 100vh;
   display: flex;
   /* flex-direction: column; */
   justify-content: center;
   background-color: rgb(238, 238, 238);
}

p {
   margin-bottom: 1rem;
}

h1, h2 {
   margin-bottom: 1.4rem;
}

h1 { font-size: 1.9rem; }
h2 { font-size: 1.5rem; }

.container {
   display: flex;
   flex-direction: column;
   margin-top: 1.5rem;
}

.main-header {
   border-bottom: 3px solid black;
   margin-bottom: 3rem;
}

.main-header .site-title {
   font-size: 2.7rem;
   margin-left: 1.8rem;
   text-transform: uppercase;
}

.main-content {
   flex: 1 0 auto;
   margin: 0 2rem;
}

.main-footer {
   flex-shrink: 0;
   background-color: rgb(102, 102, 102);
   color: rgb(255, 255, 255);
   padding: 0.8rem 1.3rem;
}