* {
   margin: 0;
   padding: 0;
}

html {
   box-sizing: border-box;
   font: 16px/1.5em Helvetica, sans-serif;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background-color: rgb(238, 238, 238);
   display: flex;
   flex-flow: column wrap;
   align-items: center;
}

p {
   margin-bottom: 1rem;
}

h1, h2, h3 {
   font-family: Georgia, serif;
   margin-bottom: 1.4rem;
}

h1 { font-size: 1.9rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }

.page {
   display: flex;
   flex-flow: column wrap;
   width: 80%;
   margin-top: 4rem;
}

header {
   border-bottom: 3px solid black;
   margin-bottom: 1.5rem;
}

header .page-title {
   font-size: 2.7rem;
   text-transform: uppercase;
}

.main-and-aside {
   display: flex;
}

.main-and-aside main {
   max-width: 75%;
   margin-right: 10%;
}

.first-img, .second-img {
   background-color: rgb(255, 255, 255);
   border: 2px solid black;
   padding: 10px;
   box-shadow: 0 0 17px 10px #ccc;
}

.first-img {
   float: right;
   margin-left: 1.2rem;
   margin-bottom: 1rem;
}

.row {
   display: flex;
   margin-bottom: 1rem;
}

blockquote {
   font-family: Georgia, serif;
   display: inline-block;
   border-left: 2px solid rgb(221, 221, 221);
   padding-left: 1.8rem;
   margin-left: 2rem;
   font-style: italic;
}

blockquote cite {
   float: right;
}

.second-img {
   float: left;
   margin-right: 1.2rem;
   margin-bottom: 1rem;
}

.main-and-aside aside ul {
   margin-bottom: 1rem;
   list-style-position: inside;
}

.main-and-aside aside ul li a {
   text-decoration: none;
   color: rgb(0, 153, 0);
}

.clearfix {
   clear: both;
}