<div class="py-5">
    <div class="container"></div>
        </br>
        <img style="display: block; margin: 0 auto; max-width: 800px;"
            src="https://imageog.flaticon.com/icons/png/512/42/42901.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" />
        <h1 style="width: 100%; text-align: center; font-weight: bold;">500</h1>
        <h2 style="width: 100%; text-align: center; text-decoration: underline;">{{errorMessage}}</h2>
    </div>
</div>