<div class="py-5">
    <div class="container"></div>
        <img style="display: block; margin: 0 auto; max-width: 800px;"
            src="https://www.roadtrafficsigns.com/img/lg/X/Road-Closed-Ahead-Sign-X-W20-3-A.gif" />
        <h1 style="width: 100%; text-align: center; font-weight: bold;">404</h1>
        <h2 style="width: 100%; text-align: center; text-decoration: underline;">NOT FOUND</h2>
    </div>
</div>